<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityToolkit.Mvvm" version="8.0.0" targetFramework="net48" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net48" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="morelinq" version="3.3.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Serilog" version="2.12.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Debug" version="2.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Tekla.Application.Library" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.BIM.DirectManipulation" version="2022.0.10718" targetFramework="net48" />
  <package id="Tekla.PowerFab.API" version="1.0.0" targetFramework="net48" />
  <package id="Tekla.Structures" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.Analysis" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.Catalogs" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.CustomPropertyPlugin" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.Datatype" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.Dialog" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.Drawing" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.DrawingPresentationModel" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.DrawingPresentationModelInterface" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.DrawingPresentationPluginInterface" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.Model" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.ObjectDimensioningModel" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.ObjectDimensioningPlugin" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.Plugins" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.Plugins.DirectManipulation" version="2022.0.10718" targetFramework="net48" />
  <package id="Tekla.Structures.Service" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.ServiceInterop" version="2022.0.10715" targetFramework="net48" />
  <package id="Tekla.Structures.WebBrowser" version="2022.0.10715" targetFramework="net48" />
  <package id="TeklaCustomPropertyPlugin" version="2020.0.2" targetFramework="net48" />
  <package id="TeklaOpenAPI" version="2020.0.2" targetFramework="net48" />
  <package id="TeklaTeddsAddIn" version="24.1.0" targetFramework="net48" />
  <package id="TeklaTeddsAPI" version="24.1.0" targetFramework="net48" />
  <package id="WHUTILS" version="1.0.0" targetFramework="net48" />
</packages>